All the cats!
<a href="<%= new_cat_url %>">Create a new cat!</a>
<ul>
  <% @cats.each do |cat| %>
  <li>
    <ul>
      <li>name: <%= cat.name %></li>
      <li>birthday: <%= cat.birth_date %></li>
      <li>color: <%= cat.color %></li>
      <li>sex: <%= cat.sex %></li>
      <li>description: <%= cat.description %></li>
      <a href="<%= cat_url(cat) %>">See this kitty</a>
    </ul>
    <br>
  </li>
  <% end %>
</ul>
